@namespace Blazor.NLDesignSystem.Components
@if (ShowTitle)
{
    <div class="@(IsInnerSection ? "inner-section" : "edit-section") @(HasBackgroundColor ? $"inner-section--no-border background--{DisplayBackgroundColor}" : string.Empty)">
        <h2>@((MarkupString)Title)</h2>
        @if (HasLink)
        {
            <a href="@Uri">@UriText</a>
        }
        @if (IsInnerSection)
        {
            @ChildContent
        }
    </div>
}
@if (!IsInnerSection)
{
    @ChildContent
}