@namespace Blazor.NLDesignSystem.Components
<li class="list__item @(IsActive ? "list__item--active" : string.Empty) @(IsDisabled ? "list__item--disabled" : string.Empty)">
    @if (IsLarge)
    {
        <div class="content">
            @if (HeaderIsTime)
            {
                <time class="meta list__date" @attributes="GetTimeAttributes()">@Header</time>
            }
            else
            {
                <NldsMeta IsInHeader="true">@Header</NldsMeta>
            }
            <div class="content-background">
                <div class="content">
                    <div class="list__content">
                        @Content
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <NldsTimelineItemHeaderWrapper>
            @if (HeaderIsTime)
            {
                <time @attributes="GetTimeAttributes()">@Header</time>
            }
            else
            {
                @Header
            }
        </NldsTimelineItemHeaderWrapper>
        @Content
    }
</li>

