<div class="input @labelAlignment @(IsInvalid ? "input--invalid" : "")">
    <label class="input__label" for="@Id">@ChildContent</label>
    @Hint
    @Error
    <input id="@Id" type="@type" class="input__control input__control@(size) input__control--search">
</div>