<div class="input @LabelAlignmentStyle @(IsInvalid ? "input--invalid" : "")">
    <CascadingValue Name="InputIdentifier" Value="@Identifier">
        @Label
        @Hint
        @Error
    </CascadingValue>
    <input id="@Identifier" 
           type="@DisplayType" 
           class="input__control input__control@(SizeAppendix) input__control--search" 
           @bind="Value" 
           @bind:event="oninput"
           @oninput:preventDefault
           @attributes="GetAttributes()"
           disabled="@IsDisabled"
           required="@IsRequired" />
</div>