@inherits NldsEventComponent
@namespace Blazor.NLDesignSystem.Components
<div @ref="ComboboxReference" class="input combobox @LabelAlignmentStyle @(!IsValid ? "input--invalid" : "")">
    <CascadingValue Name="ElementIdentifier" Value="@Identifier">
        @if (LabelAlignment == LabelAlignment.Horizontal)
        {
            <div>
                @Label
                @Hint
            </div>
        }
        else
        {
            @Label
            @Hint
        }
        @if (!IsValid)
        {
            <NldsError>@((MarkupString)ErrorText)</NldsError>
        }
    </CascadingValue>
    @if (IsMultiple)
    {
        var counter = 0;
        <ul class="combobox__input input__control input__control@(SizeAppendix) @InputControlType" id="@Identifier">
            @foreach (var item in Items.Where(i => !i.IsDisabled))
            {
                <li data-id="@($"{Identifier}_{counter}")">@item.Value</li>
                counter++;
            }
        </ul>
    }
    else
    {
        <input id="@Identifier"
               type="@DisplayType"
               class="combobox__input input__control input__control@(SizeAppendix) @InputControlType"
               @bind="Value"
               @attributes="GetAttributes()"
               disabled="@IsDisabled"
               required="@IsRequired" />
    }
</div>
