@namespace Blazor.NLDesignSystem.Components
@{
    var counter = 0;
}

<fieldset class="input @(!IsValid ? "input--invalid" : "")">
    <CascadingValue Name="ElementIdentifier" Value="@Identifier">
        @Legend
        @Hint
        @if (!IsValid)
        {
            <NldsError>@((MarkupString)ErrorText)</NldsError>
        }
    </CascadingValue>
    <div class="@ItemAlignmentStyle">
        @*When empty the wrapping div is not there in the example. But it makes no difference for the element*@
        @foreach (var item in Items)
        {
            counter++;
            @*The id is a combination between the name and the value (since a html page can have multiple items with the same value, but should only have 1 for each name).*@
            <div class="input__group input__group--radio">
                <input type="radio"
                       name="@Identifier"
                       id="@(Identifier)_@counter"
                       class="input__control input__control--radio"
                       checked="@(Value == item.Value)"
                       @onchange="@(() => Value = item.Value)"
                       @onchange:preventDefault
                       @attributes="GetAttributes()"
                       disabled="@item.IsDisabled">
                <label class="input__label input__label--radio" for="@(Identifier)_@counter">@((MarkupString)item.Description)</label>
            </div>
        }
    </div>
</fieldset>
