<fieldset class="input">
    <legend class="input__legend">@Legend</legend>
    @foreach (var item in Items)
    {
        <div class="input__group input__group--radio">
            <input type="radio" name="@Group" id="@item.Value" class="input__control input__control--radio" checked="@(Value == item.Value)" 
                   @onchange="@(() => Value = item.Value)"
                   @onchange:preventDefault>
            <label class="input__label input__label--radio" for="@item.Value">@item.Description</label>
        </div>
    }
</fieldset>