@namespace Blazor.NLDesignSystem.Components
<div class="input__group input__group--compact input__group--checkbox">
    <input type="checkbox"
            id="@Identifier"
            class="input__control @InputControlType"
            disabled="@IsDisabled" checked="@IsChecked"
            @onchange="@((e) => ChangeEvent(e))"
            @onchange:preventDefault />
    <label for="@Identifier" class="input__label input__label--checkbox" />
</div>