<header class="header @(TransparentClass)")" role="banner">
    <div class="header-logo @(LogoClass)">
        <a href="@Link" title="@LinkTitle">
            @Content
            <span class="screenreader-only">@LinkScreenReaderDescription</span>
        </a>
    </div>
</header>