@page "/"
<h2>Header example</h2>
<NldsHeader Link="#" LinkTitle="A road to nowhere" LogoClass="header-logo--ocw" LinkScreenReaderDescription="This is a test header to nowhere" IsTransparent="true" />
<h2>Labels</h2>
<NldsLabel Color="Color.Wit">WIT</NldsLabel>
<NldsLabel Color="Color.Zwart">ZWART</NldsLabel>
<NldsLabel Color="Color.Violet">VIOLET</NldsLabel>
<NldsLabel Color="Color.Roze">ROZE</NldsLabel>
<NldsLabel Color="Color.Rood">ROOD</NldsLabel>
<NldsLabel Color="Color.RobijnRood">ROBIJNROOD</NldsLabel>
<NldsLabel Color="Color.Paars">PAARS</NldsLabel>
<NldsLabel Color="Color.Oranje">ORANJE</NldsLabel>
<NldsLabel Color="Color.Mosgroen">MOSGROEN</NldsLabel>
<NldsLabel Color="Color.Mintgroen">MINTGROEN</NldsLabel>
<NldsLabel Color="Color.Lichtblauw">LICHTBLAUW</NldsLabel>
<NldsLabel Color="Color.HemelBlauw">HEMELBLAUW</NldsLabel>
<NldsLabel Color="Color.DonkerBlauw">DONKERBLAUW</NldsLabel>
<NldsLabel Color="Color.Groen">GROEN</NldsLabel>
<NldsLabel Color="Color.Geel">GEEL</NldsLabel>
<NldsLabel Color="Color.Donkergroen">DONKERGROEN</NldsLabel>
<NldsLabel Color="Color.Donkergeel">DONKERGEEL</NldsLabel>
<NldsLabel Color="Color.Bruin">BRUIN</NldsLabel>
<NldsLabel Color="Color.Optioneel">OPTIONEEL</NldsLabel>
<h2>Badges</h2>
<NldsBadge Color="Color.Wit" Number="1" />
<NldsBadge Color="Color.Zwart" Number="2" />
<NldsBadge Color="Color.Violet" Number="3" />
<NldsBadge Color="Color.Roze" Number="4" />
<NldsBadge Color="Color.Rood" Number="5" />
<NldsBadge Color="Color.RobijnRood" Number="6" />
<NldsBadge Color="Color.Paars" Number="7" />
<NldsBadge Color="Color.Oranje" Number="8" />
<NldsBadge Color="Color.Mosgroen" Number="9" />
<NldsBadge Color="Color.Mintgroen" Number="10" />
<NldsBadge Color="Color.Lichtblauw" Number="11" />
<NldsBadge Color="Color.HemelBlauw" Number="12" />
<NldsBadge Color="Color.DonkerBlauw" Number="13" />
<NldsBadge Color="Color.Groen" Number="14" />
<NldsBadge Color="Color.Geel" Number="15" />
<NldsBadge Color="Color.Donkergroen" Number="16" />
<NldsBadge Color="Color.Donkergeel" Number="17" />
<NldsBadge Color="Color.Bruin" Number="18" />
<NldsBadge Color="Color.Optioneel" Number="19" />
<h3>Badge On icon</h3>
<i class="icon icon-user"></i>
<NldsBadge UseOnIcon="true" Color="Color.Rood" Number="28"></NldsBadge>

<h2>Buttons</h2>
<NldsButton>Standard button</NldsButton>
<NldsButton Type="ButtonType.Disabled">Hello World!</NldsButton>
<NldsButton Type="ButtonType.Icon" Title="Zoeken"><i class="icon icon-magnifier"></i></NldsButton>
<NldsButton Type="ButtonType.Primary"><NldsButtonIcon Icon="icon-magnifier" Title="Zoek">Zoek</NldsButtonIcon></NldsButton>
<NldsButton Type="ButtonType.Primary"><NldsButtonIcon Icon="icon-arr-forward" Position="RelativePosition.After">Verder</NldsButtonIcon></NldsButton>
<NldsButton Type="ButtonType.DigiD">Hello World!</NldsButton>
<NldsButton><NldsButtonSpinner>Aan het opslaan</NldsButtonSpinner></NldsButton>
<h2>Collapse</h2>
<h3>Normal</h3>
<NldsCollapseWrapper>
    <NldsCollapse>
        <Title>Titel <u>van</u> collapse</Title>
        <Content>
            <NldsCollapseContent>
                Dit <i>is</i> de <strong>inhoud</strong> van <u>de</u> collapse. Humani generiss sunt dominas de nobilis compater. Cliniass cadunt in audax cirpi! Est placidus urbs, cesaris.
            </NldsCollapseContent>
        </Content>
    </NldsCollapse>
</NldsCollapseWrapper>
<h3>Extra Indent</h3>
<NldsCollapseWrapper>
    <NldsCollapse>
        <Title>Titel van collapse</Title>
        <Content>
            <NldsCollapseContent IsIndented="true">
                Dit is de inhoud van de collapse. Humani generiss sunt dominas de nobilis compater. Cliniass cadunt in audax cirpi! Est placidus urbs, cesaris.
            </NldsCollapseContent>
        </Content>
    </NldsCollapse>
</NldsCollapseWrapper>
<h3>No Background</h3>
<NldsCollapseWrapper HasBackground="false">
    <NldsCollapse>
        <Title>Titel van collapse</Title>
        <Content>
            <NldsCollapseContent>
                Dit is de inhoud van de collapse. Humani generiss sunt dominas de nobilis compater. Cliniass cadunt in audax cirpi! Est placidus urbs, cesaris.
            </NldsCollapseContent>
        </Content>
    </NldsCollapse>
</NldsCollapseWrapper>
<h3>Simple</h3>
<NldsCollapseWrapper IsSimple="true">
    <NldsCollapse>
        <Title>Titel van collapse</Title>
        <Content>
            <NldsCollapseContent>
                Dit is de inhoud van de collapse. Humani generiss sunt dominas de nobilis compater. Cliniass cadunt in audax cirpi! Est placidus urbs, cesaris.
            </NldsCollapseContent>
        </Content>
    </NldsCollapse>
</NldsCollapseWrapper>
<h3>Icons</h3>
<NldsCollapseWrapper UseIcons="true">
    <NldsCollapse>
        <Title>Titel van collapse</Title>
        <Content>
            <NldsCollapseContent>
                Dit is de inhoud van de collapse. Humani generiss sunt dominas de nobilis compater. Cliniass cadunt in audax cirpi! Est placidus urbs, cesaris.
            </NldsCollapseContent>
        </Content>
    </NldsCollapse>
</NldsCollapseWrapper>
<h3>Grouped</h3>
<NldsCollapseWrapper GroupName="TestGroup">
    <NldsCollapse>
        <Title>Titel <u>van</u> collapse</Title>
        <Content>
            <NldsCollapseContent>
                Dit <i>is</i> de <strong>inhoud</strong> van <u>de</u> collapse. Humani generiss sunt dominas de nobilis compater. Cliniass cadunt in audax cirpi! Est placidus urbs, cesaris.
            </NldsCollapseContent>
        </Content>
    </NldsCollapse>
    <NldsCollapse>
        <Title>Titel <u>van</u> collapse</Title>
        <Content>
            <NldsCollapseContent>
                Dit <i>is</i> de <strong>inhoud</strong> van <u>de</u> collapse. Humani generiss sunt dominas de nobilis compater. Cliniass cadunt in audax cirpi! Est placidus urbs, cesaris.
            </NldsCollapseContent>
        </Content>
    </NldsCollapse>
</NldsCollapseWrapper>
<h3>Other Target</h3>
<NldsCollapseWrapper>
    <NldsCollapse Target="Collapse_target">
        <Title>Titel <u>van</u> collapse</Title>
    </NldsCollapse>
</NldsCollapseWrapper>
<h3>Collapse Target</h3>
<NldsCollapseContent Id="Collapse_target">
    Dolor set amit
</NldsCollapseContent>
<h2>Input</h2>
<h3>5 Input Types</h3>
<NldsForm>
    <NldsInput Identifier="z1" Size="InputSize.Medium" Type="InputType.Email">
        <Label><NldsFormLabel>Email</NldsFormLabel></Label>
    </NldsInput>
    <NldsInput Identifier="z2" Size="InputSize.Medium" Type="InputType.Number">
        <Label><NldsFormLabel>Number</NldsFormLabel></Label>
    </NldsInput>
    <NldsInput Identifier="z3" Size="InputSize.Medium" Type="InputType.Password">
        <Label><NldsFormLabel>Password</NldsFormLabel></Label>
    </NldsInput>
    <NldsInput Identifier="z4" Size="InputSize.Medium" Type="InputType.Text">
        <Label><NldsFormLabel>Text</NldsFormLabel></Label>
    </NldsInput>
    <NldsInput Identifier="z5" Size="InputSize.Medium" Type="InputType.Url">
        <Label><NldsFormLabel>Url</NldsFormLabel></Label>
    </NldsInput>
</NldsForm>
<h3>Values</h3>
@code {
    private string inputValue = "This is content of the input";
}
<NldsForm>
    <NldsInput Identifier="a0" Size="InputSize.Large" @bind-Value="@inputValue">
        <Label><NldsFormLabel>Two-way binding</NldsFormLabel></Label>
    </NldsInput>
</NldsForm>
<h4>@inputValue</h4>
<h3>Errors</h3>
<NldsForm>
    <NldsInput Identifier="a1" Size="InputSize.Medium" ErrorText="U heeft het veld <u>Naam beheerder</u> nog niet ingevuld">
        <Label><NldsFormLabel>Naam Beheerder</NldsFormLabel></Label>
        <Hint><NldsFormHint HintName="fullname">Bijvoorbeeld Frank Masmeijer</NldsFormHint></Hint>
    </NldsInput>
</NldsForm>
<h3>Area describedby</h3>
<NldsForm>
    <NldsInput Identifier="a2" Size="InputSize.Medium" AriaDescribedBy="fullname">
        <Label><NldsFormLabel>Area descirbed by manually set</NldsFormLabel></Label>
        <Hint><NldsFormHint HintName="fullname">Bijvoorbeeld Frank Govers</NldsFormHint></Hint>
    </NldsInput>
</NldsForm>
<h3>Restriction</h3>
<NldsForm>
    <NldsInput Identifier="a3" Size="InputSize.Medium" IsDisabled="true">
        <Label><NldsFormLabel>Disabled</NldsFormLabel></Label>
    </NldsInput>
    <NldsInput Identifier="a4" Size="InputSize.Medium" IsRequired="true">
        <Label><NldsFormLabel><strong>Required</strong></NldsFormLabel></Label>
    </NldsInput>
</NldsForm>
<h3>Sizes</h3>
<NldsForm>
    <NldsInput Identifier="b" Size="InputSize.ExtraSmall"><Label><NldsFormLabel>Extra Small</NldsFormLabel></Label></NldsInput>
    <NldsInput Identifier="c" Size="InputSize.Small"><Label><NldsFormLabel>Small</NldsFormLabel></Label></NldsInput>
    <NldsInput Identifier="d" Size="InputSize.Medium"><Label><NldsFormLabel>Medium</NldsFormLabel></Label></NldsInput>
    <NldsInput Identifier="e" Size="InputSize.Large"><Label><NldsFormLabel>Large</NldsFormLabel></Label></NldsInput>
    <NldsInput Identifier="f" Size="InputSize.ExtraLarge"><Label><NldsFormLabel>Extra Large</NldsFormLabel></Label></NldsInput>
</NldsForm>
<h3>Horizontal</h3>
<p>For this to work horizontally set Body to class: theme--xxl-breakpoint</p>
<NldsForm>
    <NldsInput Identifier="g" LabelAlignment="LabelAlignment.Horizontal" Size="InputSize.Medium"><Label><NldsFormLabel>Horizontal Label</NldsFormLabel></Label></NldsInput>
</NldsForm>
<NldsForm>
    <NldsInput Identifier="aa1" LabelAlignment="LabelAlignment.Horizontal" Size="InputSize.Medium" ErrorText="U heeft het veld <u>Naam beheerder</u> nog niet ingevuld">
        <Label><NldsFormLabel>Naam Beheerder</NldsFormLabel></Label>
        <Hint><NldsFormHint HintName="fullname">Bijvoorbeeld Frank Zappa</NldsFormHint></Hint>
    </NldsInput>
</NldsForm>
<h2>Radios</h2>
@code {
    string radio1Value = "aanvrager_met_toeslagpartner";
    List<RadioItem> items1 = new List<RadioItem>() {
        new RadioItem() { Description = "<i>Alleenstaande</i>", Value = "alleenstaande" },
        new RadioItem() { Description = "<i>Aanvrager <strong>met</strong> toeslagparter</i>", Value = "aanvrager_met_toeslagpartner" },
        new RadioItem() { Description = "<u>Disabled</u>", Value = "disabled", IsDisabled = true }
    };

    string radio2Value = "bestaat niet";
    List<RadioItem> items2 = new List<RadioItem>() {
        new RadioItem() { Description = "Ja", Value = "Ja" },
        new RadioItem() { Description = "Nee", Value = "Nee" },
        new RadioItem() { Description = "Misschien", Value = "Misschien", IsDisabled = true }
    };
}
<NldsForm>
    <NldsRadio Items="@items1" @bind-Value="radio1Value" Identifier="groupName" ErrorText="Er is een error ofzo...">
        <Legend><NldsLegend>Multiple functionalities shown</NldsLegend></Legend>
        <Hint><NldsFormHint HintName="situatie">Geef aan of u alleenstaande bent of dat u een toeslagpartner heeft.</NldsFormHint></Hint>
    </NldsRadio>
    <h4>Geselecteerde waarde: @items1.FirstOrDefault(i => i.Value == radio1Value)?.Value</h4>
    <NldsRadio Items="@items2" @bind-Value="radio2Value" Identifier="horizontal" ItemAlignment="ItemAlignment.Horizontal">
        <Legend><NldsLegend>Item Alignment Horizontal</NldsLegend></Legend>
    </NldsRadio>
</NldsForm>
@code {
    string selectValue1 = "aanvrager_met_toeslagpartner";
    List<SelectItem> select1 = new List<SelectItem>() {
        new SelectItem() { Description = "<i>Alleenstaande</i>", Value = "alleenstaande" },
        new SelectItem() { Description = "<i>Aanvrager <strong>met</strong> toeslagparter</i>", Value = "aanvrager_met_toeslagpartner" },
        new SelectItem() { Description = "<u>Disabled</u>", Value = "disabled", IsDisabled = true }
    };

    string selectValue2;
    List<SelectItem> select2 = new List<SelectItem>() {
        new SelectItem() { Description = "<i>Alleenstaande</i>", Value = "alleenstaande" },
        new SelectItem() { Description = "<i>Aanvrager <strong>met</strong> toeslagparter</i>", Value = "aanvrager_met_toeslagpartner" },
        new SelectItem() { Description = "<u>Disabled</u>", Value = "disabled", IsDisabled = true }
    };
}
<h2>Select</h2>
<h3>2-way binding</h3>
<p>Markup is filteed in displaying the value in the dropdown. It can still be used for displaying outside of the select</p>
<NldsForm>
    <NldsSelect Identifier="b1" Size="InputSize.Medium" Items="@select1" @bind-Value="@selectValue1" ShowEmptyValue="false">
        <Label><NldsFormLabel>Naam Beheerder</NldsFormLabel></Label>
        <Hint><NldsFormHint HintName="fullname">Bijvoorbeeld Frank Groothof</NldsFormHint></Hint>
    </NldsSelect>
    <p>Selected value: @selectValue1</p>
    <p>Selected displayvalue: @((MarkupString)select1.FirstOrDefault(s => s.Value == selectValue1).Description)</p>
</NldsForm>
<h3>Select with error</h3>
<p>For this to work horizontally set Body to class: theme--xxl-breakpoint</p>
<NldsForm>
    <NldsSelect Identifier="b2" Size="InputSize.Medium" Items="@select2" @bind-Value="@selectValue2" LabelAlignment="LabelAlignment.Horizontal" EmptyValueDescription="--Selecteer iets--" ErrorText="Oops something went wrong.">
        <Label><NldsFormLabel>Naam Beheerder</NldsFormLabel></Label>
        <Hint><NldsFormHint HintName="fullname">Bijvoorbeeld Frank Sinatra</NldsFormHint></Hint>
    </NldsSelect>
</NldsForm>
<h2>Pagination</h2>
@code {
    string actionDone = string.Empty;
    private void NextAction()
    {
        actionDone = "Next";
        StateHasChanged();
    }
    private void PreviousAction()
    {
        actionDone = "Previous";
        StateHasChanged();
    }
    private void PageAction(int page)
    {
        actionDone = $"Pagina {page}";
        StateHasChanged();
    }
}
<NldsForm>
    <h3>De laatste actie die is uitgevoerd: <strong>@actionDone</strong></h3>
    <h3>Next</h3>
    <NldsPagination NextText="Volgende" NextAction="NextAction" />
    <h3>Previous</h3>
    <NldsPagination PreviousText="Vorige" PreviousAction="PreviousAction" />
    <h3>Next & Previous</h3>
    <NldsPagination PreviousText="Vorige" PreviousAction="PreviousAction" NextText="Volgende" NextAction="NextAction" />
    <h3>5 pages - first active</h3>
    <NldsPagination PreviousText="Vorige" NextText="Volgende" ActivePage="1" NumberOfPages="5" PageAction="PageAction" />
    <h3>5 pages - 3rd active</h3>
    <NldsPagination PreviousText="Vorige" NextText="Volgende" ActivePage="3" NumberOfPages="5" PageAction="PageAction" />
    <h3>5 pages - last active</h3>
    <NldsPagination PreviousText="Vorige" NextText="Volgende" ActivePage="5" NumberOfPages="5" PageAction="PageAction" />
    <h3>20 pages - 1rst active</h3>
    <NldsPagination PreviousText="Vorige" NextText="Volgende" ActivePage="1" NumberOfPages="20" PageAction="PageAction" />
    <h3>20 pages - 10th active</h3>
    <NldsPagination PreviousText="Vorige" NextText="Volgende" ActivePage="10" NumberOfPages="20" PageAction="PageAction" />
    <h3>20 pages - last active</h3>
    <NldsPagination PreviousText="Vorige" NextText="Volgende" ActivePage="20" NumberOfPages="20" PageAction="PageAction" />
    <h3>20 pages - 10th active and an even (4) middle numbers</h3>
    <NldsPagination PreviousText="Vorige" NextText="Volgende" ActivePage="10" NumberOfPages="20" NumberOfPageNumbersToDisplay="4" PageAction="PageAction" />
    <h3>20 pages - 10th active and 3 middle numbers</h3>
    <NldsPagination PreviousText="Vorige" NextText="Volgende" ActivePage="10" NumberOfPages="20" NumberOfPageNumbersToDisplay="3" PageAction="PageAction" />
    <h3>Andere screenreader informatie</h3>
    <NldsPagination PreviousText="Vorige" NextText="Volgende" ActivePage="10" NumberOfPages="20" PageAction="PageAction" ScreenreaderPageDescription="Page" ScreenreaderActivePageDescription="You are now on page" />
    @code {
        int ActivePage = 1;
        private void PageActionInteractive(int page)
        {
            ActivePage = page;
            StateHasChanged();
        }
    }
    <h3>20 pages - interactive</h3>
    <NldsPagination PreviousText="Vorige" NextText="Volgende" ActivePage="@ActivePage" NumberOfPages="20" PageAction="PageActionInteractive" />
</NldsForm>
<h2>DefinitonList</h2>
<NldsDefinitionList>
    <NldsDefinitionListItem Title="Lorem ipsum dolor">
        ... sit amet, consectetur adipiscing elit. Praesent id quam pretium, lobortis lectus ut, lobortis lorem. Quisque in mauris id ante lacinia ornare nec sed mi. Aenean efficitur sagittis neque eget ultricies. Curabitur vestibulum rutrum massa, nec sollicitudin dui eleifend ultrices. Duis commodo accumsan risus in congue. Curabitur sodales volutpat elit, ut maximus lorem posuere et. Curabitur molestie nec lorem a semper. Donec interdum dui non euismod tempus. Praesent eu maximus arcu. Sed sed auctor leo.
    </NldsDefinitionListItem>
    <NldsDefinitionListItem Title="Duis at arcu">
        ... in ipsum rutrum porttitor id nec orci. Nam mollis vulputate diam, at finibus metus pharetra sed. Mauris in augue tellus. Nam hendrerit imperdiet mollis. Suspendisse porttitor, diam nec interdum euismod, mauris enim dignissim mauris, eget tincidunt mi metus eu purus. In dignissim leo at diam facilisis, id porttitor purus malesuada. Praesent quis dui ipsum. Phasellus consequat enim quis nunc sollicitudin, vel volutpat mi aliquet. Maecenas vel feugiat elit, venenatis consectetur dui. Curabitur pharetra nibh sit amet tortor fermentum luctus. Phasellus auctor elit at felis dapibus, eu suscipit metus aliquet. Proin sed sagittis justo. Aenean mollis, neque at luctus vulputate, ipsum augue lobortis eros, ac tempor turpis nisi a lorem. Integer non neque faucibus, consequat sapien vitae, tempus sapien. Cras turpis mauris, convallis sed interdum eu, pharetra ac sapien. In nulla nibh, sagittis ut turpis ac, feugiat cursus diam.
    </NldsDefinitionListItem>
</NldsDefinitionList>
