@page "/"
<h2>Header example</h2>
<NldsHeader Link="#" LinkTitle="A road to nowhere" LogoClass="header-logo--ocw" LinkScreenReaderDescription="This is a test header to nowhere" IsTransparent="true" />
<h2>Labels</h2>
<NldsLabel Color="Color.Wit">WIT</NldsLabel>
<NldsLabel Color="Color.Zwart">ZWART</NldsLabel>
<NldsLabel Color="Color.Violet">VIOLET</NldsLabel>
<NldsLabel Color="Color.Roze">ROZE</NldsLabel>
<NldsLabel Color="Color.Rood">ROOD</NldsLabel>
<NldsLabel Color="Color.RobijnRood">ROBIJNROOD</NldsLabel>
<NldsLabel Color="Color.Paars">PAARS</NldsLabel>
<NldsLabel Color="Color.Oranje">ORANJE</NldsLabel>
<NldsLabel Color="Color.Mosgroen">MOSGROEN</NldsLabel>
<NldsLabel Color="Color.Mintgroen">MINTGROEN</NldsLabel>
<NldsLabel Color="Color.Lichtblauw">LICHTBLAUW</NldsLabel>
<NldsLabel Color="Color.HemelBlauw">HEMELBLAUW</NldsLabel>
<NldsLabel Color="Color.DonkerBlauw">DONKERBLAUW</NldsLabel>
<NldsLabel Color="Color.Groen">GROEN</NldsLabel>
<NldsLabel Color="Color.Geel">GEEL</NldsLabel>
<NldsLabel Color="Color.Donkergroen">DONKERGROEN</NldsLabel>
<NldsLabel Color="Color.Donkergeel">DONKERGEEL</NldsLabel>
<NldsLabel Color="Color.Bruin">BRUIN</NldsLabel>
<NldsLabel Color="Color.Optioneel">OPTIONEEL</NldsLabel>
<h2>Badges</h2>
<NldsBadge Color="Color.Wit" Number="1" />
<NldsBadge Color="Color.Zwart" Number="2" />
<NldsBadge Color="Color.Violet" Number="3" />
<NldsBadge Color="Color.Roze" Number="4" />
<NldsBadge Color="Color.Rood" Number="5" />
<NldsBadge Color="Color.RobijnRood" Number="6" />
<NldsBadge Color="Color.Paars" Number="7" />
<NldsBadge Color="Color.Oranje" Number="8" />
<NldsBadge Color="Color.Mosgroen" Number="9" />
<NldsBadge Color="Color.Mintgroen" Number="10" />
<NldsBadge Color="Color.Lichtblauw" Number="11" />
<NldsBadge Color="Color.HemelBlauw" Number="12" />
<NldsBadge Color="Color.DonkerBlauw" Number="13" />
<NldsBadge Color="Color.Groen" Number="14" />
<NldsBadge Color="Color.Geel" Number="15" />
<NldsBadge Color="Color.Donkergroen" Number="16" />
<NldsBadge Color="Color.Donkergeel" Number="17" />
<NldsBadge Color="Color.Bruin" Number="18" />
<NldsBadge Color="Color.Optioneel" Number="19" />
<h3>Badge On icon</h3>
<i class="icon icon-user"></i>
<NldsBadge UseOnIcon="true" Color="Color.Rood" Number="28"></NldsBadge>

<h2>Buttons</h2>
<NldsButton>Standard button</NldsButton>
<NldsButton Type="ButtonType.Disabled">Hello World!</NldsButton>
<NldsButton Type="ButtonType.Icon" Title="Zoeken"><NldsIcon Icon="Icon.Magnifier" /></NldsButton>
<NldsButton Type="ButtonType.Primary"><NldsButtonIcon Icon="Icon.Magnifier" Title="Zoek">Zoek</NldsButtonIcon></NldsButton>
<NldsButton Type="ButtonType.Primary"><NldsButtonIcon Icon="Icon.ArrowForward" Position="RelativePosition.After">Verder</NldsButtonIcon></NldsButton>
<NldsButton Type="ButtonType.DigiD">Hello World!</NldsButton>
<NldsButton><NldsButtonSpinner>Aan het opslaan</NldsButtonSpinner></NldsButton>
<h2>Collapse</h2>
<h3>Normal</h3>
<NldsCollapseWrapper>
    <NldsCollapse>
        <Title>Titel <u>van</u> collapse</Title>
        <Content>
            <NldsCollapseContent>
                Dit <i>is</i> de <strong>inhoud</strong> van <u>de</u> collapse. Humani generiss sunt dominas de nobilis compater. Cliniass cadunt in audax cirpi! Est placidus urbs, cesaris.
            </NldsCollapseContent>
        </Content>
    </NldsCollapse>
</NldsCollapseWrapper>
<h3>Extra Indent</h3>
<NldsCollapseWrapper>
    <NldsCollapse>
        <Title>Titel van collapse</Title>
        <Content>
            <NldsCollapseContent IsIndented="true">
                Dit is de inhoud van de collapse. Humani generiss sunt dominas de nobilis compater. Cliniass cadunt in audax cirpi! Est placidus urbs, cesaris.
            </NldsCollapseContent>
        </Content>
    </NldsCollapse>
</NldsCollapseWrapper>
<h3>No Background</h3>
<NldsCollapseWrapper HasBackground="false">
    <NldsCollapse>
        <Title>Titel van collapse</Title>
        <Content>
            <NldsCollapseContent>
                Dit is de inhoud van de collapse. Humani generiss sunt dominas de nobilis compater. Cliniass cadunt in audax cirpi! Est placidus urbs, cesaris.
            </NldsCollapseContent>
        </Content>
    </NldsCollapse>
</NldsCollapseWrapper>
<h3>Simple</h3>
<NldsCollapseWrapper IsSimple="true">
    <NldsCollapse>
        <Title>Titel van collapse</Title>
        <Content>
            <NldsCollapseContent>
                Dit is de inhoud van de collapse. Humani generiss sunt dominas de nobilis compater. Cliniass cadunt in audax cirpi! Est placidus urbs, cesaris.
            </NldsCollapseContent>
        </Content>
    </NldsCollapse>
</NldsCollapseWrapper>
<h3>Icons</h3>
<NldsCollapseWrapper UseIcons="true">
    <NldsCollapse>
        <Title>Titel van collapse</Title>
        <Content>
            <NldsCollapseContent>
                Dit is de inhoud van de collapse. Humani generiss sunt dominas de nobilis compater. Cliniass cadunt in audax cirpi! Est placidus urbs, cesaris.
            </NldsCollapseContent>
        </Content>
    </NldsCollapse>
</NldsCollapseWrapper>
<h3>Grouped</h3>
<NldsCollapseWrapper GroupName="TestGroup">
    <NldsCollapse>
        <Title>Titel <u>van</u> collapse</Title>
        <Content>
            <NldsCollapseContent>
                Dit <i>is</i> de <strong>inhoud</strong> van <u>de</u> collapse. Humani generiss sunt dominas de nobilis compater. Cliniass cadunt in audax cirpi! Est placidus urbs, cesaris.
            </NldsCollapseContent>
        </Content>
    </NldsCollapse>
    <NldsCollapse>
        <Title>Titel <u>van</u> collapse</Title>
        <Content>
            <NldsCollapseContent>
                Dit <i>is</i> de <strong>inhoud</strong> van <u>de</u> collapse. Humani generiss sunt dominas de nobilis compater. Cliniass cadunt in audax cirpi! Est placidus urbs, cesaris.
            </NldsCollapseContent>
        </Content>
    </NldsCollapse>
</NldsCollapseWrapper>
<h3>Other Target</h3>
<NldsCollapseWrapper>
    <NldsCollapse Target="Collapse_target">
        <Title>Titel <u>van</u> collapse</Title>
    </NldsCollapse>
</NldsCollapseWrapper>
<h3>Collapse Target</h3>
<NldsCollapseContent Id="Collapse_target">
    Dolor set amit
</NldsCollapseContent>
<h2>Input</h2>
<h3>6 Input Types</h3>
<NldsForm>
    <NldsInput Identifier="z1" Size="InputSize.Medium" Type="InputType.Email">
        <Label><NldsFormLabel>Email</NldsFormLabel></Label>
    </NldsInput>
    <NldsInput Identifier="z2" Size="InputSize.Medium" Type="InputType.Number">
        <Label><NldsFormLabel>Number</NldsFormLabel></Label>
    </NldsInput>
    <NldsInput Identifier="z3" Size="InputSize.Medium" Type="InputType.Password">
        <Label><NldsFormLabel>Password</NldsFormLabel></Label>
    </NldsInput>
    <NldsInput Identifier="z4" Size="InputSize.Medium" Type="InputType.Text">
        <Label><NldsFormLabel>Text</NldsFormLabel></Label>
    </NldsInput>
    <NldsInput Identifier="z5" Size="InputSize.Medium" Type="InputType.Url">
        <Label><NldsFormLabel>Url</NldsFormLabel></Label>
    </NldsInput>
    <NldsInput Identifier="z6" Size="InputSize.Medium" Type="InputType.Search">
        <Label><NldsFormLabel>Search</NldsFormLabel></Label>
    </NldsInput>
</NldsForm>
<h3>Values</h3>
@code {
    private string inputValue = "This is content of the input";
}
<NldsForm>
    <NldsInput Identifier="a0" Size="InputSize.Large" @bind-Value="@inputValue">
        <Label><NldsFormLabel>Two-way binding</NldsFormLabel></Label>
    </NldsInput>
</NldsForm>
<h4>@inputValue</h4>
<h3>Errors</h3>
<NldsForm>
    <NldsInput Identifier="a1" Size="InputSize.Medium" ErrorText="U heeft het veld <u>Naam beheerder</u> nog niet ingevuld">
        <Label><NldsFormLabel>Naam Beheerder</NldsFormLabel></Label>
        <Hint><NldsFormHint HintName="fullname">Bijvoorbeeld Frank Masmeijer</NldsFormHint></Hint>
    </NldsInput>
</NldsForm>
<h3>Area describedby</h3>
<NldsForm>
    <NldsInput Identifier="a2" Size="InputSize.Medium" AriaDescribedBy="fullname">
        <Label><NldsFormLabel>Area descirbed by manually set</NldsFormLabel></Label>
        <Hint><NldsFormHint HintName="fullname">Bijvoorbeeld Frank Govers</NldsFormHint></Hint>
    </NldsInput>
</NldsForm>
<h3>Restriction</h3>
<NldsForm>
    <NldsInput Identifier="a3" Size="InputSize.Medium" IsDisabled="true">
        <Label><NldsFormLabel>Disabled</NldsFormLabel></Label>
    </NldsInput>
    <NldsInput Identifier="a4" Size="InputSize.Medium" IsRequired="true">
        <Label><NldsFormLabel><strong>Required</strong></NldsFormLabel></Label>
    </NldsInput>
</NldsForm>
<h3>Sizes</h3>
<NldsForm>
    <NldsInput Identifier="b" Size="InputSize.ExtraSmall"><Label><NldsFormLabel>Extra Small</NldsFormLabel></Label></NldsInput>
    <NldsInput Identifier="c" Size="InputSize.Small"><Label><NldsFormLabel>Small</NldsFormLabel></Label></NldsInput>
    <NldsInput Identifier="d" Size="InputSize.Medium"><Label><NldsFormLabel>Medium</NldsFormLabel></Label></NldsInput>
    <NldsInput Identifier="e" Size="InputSize.Large"><Label><NldsFormLabel>Large</NldsFormLabel></Label></NldsInput>
    <NldsInput Identifier="f" Size="InputSize.ExtraLarge"><Label><NldsFormLabel>Extra Large</NldsFormLabel></Label></NldsInput>
</NldsForm>
<h3>Horizontal</h3>
<p>For this to work horizontally set Body to class: theme--xxl-breakpoint</p>
<NldsForm>
    <NldsInput Identifier="g" LabelAlignment="LabelAlignment.Horizontal" Size="InputSize.Medium"><Label><NldsFormLabel>Horizontal Label</NldsFormLabel></Label></NldsInput>
</NldsForm>
<NldsForm>
    <NldsInput Identifier="aa1" LabelAlignment="LabelAlignment.Horizontal" Size="InputSize.Medium" ErrorText="U heeft het veld <u>Naam beheerder</u> nog niet ingevuld">
        <Label><NldsFormLabel>Naam Beheerder</NldsFormLabel></Label>
        <Hint><NldsFormHint HintName="fullname">Bijvoorbeeld Frank Zappa</NldsFormHint></Hint>
    </NldsInput>
</NldsForm>
<h2>Radios</h2>
@code {
    string radio1Value = "aanvrager_met_toeslagpartner";
    List<RadioItem> items1 = new List<RadioItem>() {
        new RadioItem() { Description = "<i>Alleenstaande</i>", Value = "alleenstaande" },
        new RadioItem() { Description = "<i>Aanvrager <strong>met</strong> toeslagparter</i>", Value = "aanvrager_met_toeslagpartner" },
        new RadioItem() { Description = "<u>Disabled</u>", Value = "disabled", IsDisabled = true }
    };

    string radio2Value = "bestaat niet";
    List<RadioItem> items2 = new List<RadioItem>() {
        new RadioItem() { Description = "Ja", Value = "Ja" },
        new RadioItem() { Description = "Nee", Value = "Nee" },
        new RadioItem() { Description = "Misschien", Value = "Misschien", IsDisabled = true }
    };
}
<NldsForm>
    <NldsRadio Items="@items1" @bind-Value="radio1Value" Identifier="groupName" ErrorText="Er is een error ofzo...">
        <Legend><NldsLegend>Multiple functionalities shown</NldsLegend></Legend>
        <Hint><NldsFormHint HintName="situatie">Geef aan of u alleenstaande bent of dat u een toeslagpartner heeft.</NldsFormHint></Hint>
    </NldsRadio>
    <h4>Geselecteerde waarde: @items1.FirstOrDefault(i => i.Value == radio1Value)?.Value</h4>
    <NldsRadio Items="@items2" @bind-Value="radio2Value" Identifier="horizontal" ItemAlignment="ItemAlignment.Horizontal">
        <Legend><NldsLegend>Item Alignment Horizontal</NldsLegend></Legend>
    </NldsRadio>
</NldsForm>
<h2>Select</h2>
@code {
    string selectValue1 = "aanvrager_met_toeslagpartner";
    List<SelectItem> select1 = new List<SelectItem>() {
        new SelectItem() { Description = "<i>Alleenstaande</i>", Value = "alleenstaande" },
        new SelectItem() { Description = "<i>Aanvrager <strong>met</strong> toeslagparter</i>", Value = "aanvrager_met_toeslagpartner" },
        new SelectItem() { Description = "<u>Disabled</u>", Value = "disabled", IsDisabled = true }
    };

    string selectValue2;
    List<SelectItem> select2 = new List<SelectItem>() {
        new SelectItem() { Description = "<i>Alleenstaande</i>", Value = "alleenstaande" },
        new SelectItem() { Description = "<i>Aanvrager <strong>met</strong> toeslagparter</i>", Value = "aanvrager_met_toeslagpartner" },
        new SelectItem() { Description = "<u>Disabled</u>", Value = "disabled", IsDisabled = true }
    };
}
<h3>2-way binding</h3>
<p>Markup is filteed in displaying the value in the dropdown. It can still be used for displaying outside of the select</p>
<NldsForm>
    <NldsSelect Identifier="b1" Size="InputSize.Medium" Items="@select1" @bind-Value="@selectValue1" ShowEmptyValue="false">
        <Label><NldsFormLabel>Naam Beheerder</NldsFormLabel></Label>
        <Hint><NldsFormHint HintName="fullname">Bijvoorbeeld Frank Groothof</NldsFormHint></Hint>
    </NldsSelect>
    <p>Selected value: @selectValue1</p>
    <p>Selected displayvalue: @((MarkupString)select1.FirstOrDefault(s => s.Value == selectValue1).Description)</p>
</NldsForm>
<h3>Select with error</h3>
<p>For this to work horizontally set Body to class: theme--xxl-breakpoint</p>
<NldsForm>
    <NldsSelect Identifier="b2" Size="InputSize.Medium" Items="@select2" @bind-Value="@selectValue2" LabelAlignment="LabelAlignment.Horizontal" EmptyValueDescription="--Selecteer iets--" ErrorText="Oops something went wrong.">
        <Label><NldsFormLabel>Naam Beheerder</NldsFormLabel></Label>
        <Hint><NldsFormHint HintName="fullname">Bijvoorbeeld Frank Sinatra</NldsFormHint></Hint>
    </NldsSelect>
</NldsForm>

@code {
    IEnumerable<string> CheckBoxValues1 = new List<string>() { "alleenstaande" };
    List<CheckboxItem> CheckBox1 = new List<CheckboxItem>() {
        new CheckboxItem() { Description = "<i>Alleenstaande</i>", Value = "alleenstaande" },
        new CheckboxItem() { Description = "<i>Aanvrager <strong>met</strong> toeslagparter</i>", Value = "aanvrager_met_toeslagpartner" },
        new CheckboxItem() { Description = "<u>Disabled</u>", Value = "disabled", IsDisabled = true }
    };

    IEnumerable<string> CheckBoxValues2 = new List<string>() { "alleenstaande" };
    List<CheckboxItem> CheckBox2 = new List<CheckboxItem>() {
        new CheckboxItem() { Description = "<i>Alleenstaande</i>", Value = "alleenstaande" },
        new CheckboxItem() { Description = "<i>Aanvrager <strong>met</strong> toeslagparter</i>", Value = "aanvrager_met_toeslagpartner" },
        new CheckboxItem() { Description = "<u>Disabled</u>", Value = "disabled", IsDisabled = true }
    };
}
<h2>Checkbox</h2>
<h3>2-way binding</h3>
<p>Markup is filteed in displaying the value in the dropdown. It can still be used for displaying outside of the select</p>
<NldsForm>
    <NldsCheckbox Identifier="ch1" Items="@CheckBox1" @bind-Values="@CheckBoxValues1">
        <Legend><NldsLegend>Naam Beheerder</NldsLegend></Legend>
        <Hint><NldsFormHint HintName="fullname">Bijvoorbeeld Frank Groothof</NldsFormHint></Hint>
    </NldsCheckbox>
    <p>Selected values:</p>
    @foreach (var value in CheckBoxValues1 ?? new List<string>())
    {
        <text>@((MarkupString)CheckBox1.FirstOrDefault(s => s.Value == value).Description)</text>
        <br />
    }
</NldsForm>

<h3>Checkbox with error</h3>
<p>For this to work horizontally set Body to class: theme--xxl-breakpoint</p>
<NldsForm>
    <NldsCheckbox Identifier="ch2" Items="@CheckBox2" @bind-Values="@CheckBoxValues2" ItemAlignment="ItemAlignment.Horizontal" ErrorText="Oops something went wrong.">
        <Legend><NldsLegend>Naam Beheerder</NldsLegend></Legend>
        <Hint><NldsFormHint HintName="fullname">Bijvoorbeeld Frank Sinatra</NldsFormHint></Hint>
    </NldsCheckbox>
    <p>Selected values:</p>
    @foreach (var value in CheckBoxValues2 ?? new List<string>())
    {
        <text>@((MarkupString)CheckBox2.FirstOrDefault(s => s.Value == value).Description)</text>
        <br />
    }
</NldsForm>

<h2>Switch</h2>
@code {
    bool TheBoolean = true;
}
<NldsForm>
    <NldsSwitch Identifier="a1.1" ErrorText="U dient akkoord te gaan" OnText="Akkoord" OffText="Niet Akkoord" @bind-Value="@TheBoolean">
        <Label><NldsFormLabel>Switch Voorbeeld</NldsFormLabel></Label>
        <Hint><NldsFormHint HintName="fullname">Bijvoorbeeld Frank Lammers</NldsFormHint></Hint>
    </NldsSwitch>
</NldsForm>
@TheBoolean.ToString()

<h2>Pagination</h2>
@code {
    string actionDone = string.Empty;
    private void NextAction()
    {
        actionDone = "Next";
        StateHasChanged();
    }
    private void PreviousAction()
    {
        actionDone = "Previous";
        StateHasChanged();
    }
    private void PageAction(int page)
    {
        actionDone = $"Pagina {page}";
        StateHasChanged();
    }
}
<NldsForm>
    <h3>De laatste actie die is uitgevoerd: <strong>@actionDone</strong></h3>
    <h3>Next</h3>
    <NldsPagination NextText="Volgende" NextAction="NextAction" />
    <h3>Previous</h3>
    <NldsPagination PreviousText="Vorige" PreviousAction="PreviousAction" />
    <h3>Next & Previous</h3>
    <NldsPagination PreviousText="Vorige" PreviousAction="PreviousAction" NextText="Volgende" NextAction="NextAction" />
    <h3>5 pages - first active</h3>
    <NldsPagination PreviousText="Vorige" NextText="Volgende" ActivePage="1" NumberOfPages="5" PageAction="PageAction" />
    <h3>5 pages - 3rd active</h3>
    <NldsPagination PreviousText="Vorige" NextText="Volgende" ActivePage="3" NumberOfPages="5" PageAction="PageAction" />
    <h3>5 pages - last active</h3>
    <NldsPagination PreviousText="Vorige" NextText="Volgende" ActivePage="5" NumberOfPages="5" PageAction="PageAction" />
    <h3>20 pages - 1rst active</h3>
    <NldsPagination PreviousText="Vorige" NextText="Volgende" ActivePage="1" NumberOfPages="20" PageAction="PageAction" />
    <h3>20 pages - 10th active</h3>
    <NldsPagination PreviousText="Vorige" NextText="Volgende" ActivePage="10" NumberOfPages="20" PageAction="PageAction" />
    <h3>20 pages - last active</h3>
    <NldsPagination PreviousText="Vorige" NextText="Volgende" ActivePage="20" NumberOfPages="20" PageAction="PageAction" />
    <h3>20 pages - 10th active and an even (4) middle numbers</h3>
    <NldsPagination PreviousText="Vorige" NextText="Volgende" ActivePage="10" NumberOfPages="20" NumberOfPageNumbersToDisplay="4" PageAction="PageAction" />
    <h3>20 pages - 10th active and 3 middle numbers</h3>
    <NldsPagination PreviousText="Vorige" NextText="Volgende" ActivePage="10" NumberOfPages="20" NumberOfPageNumbersToDisplay="3" PageAction="PageAction" />
    <h3>Andere screenreader informatie</h3>
    <NldsPagination PreviousText="Vorige" NextText="Volgende" ActivePage="10" NumberOfPages="20" PageAction="PageAction" ScreenreaderPageDescription="Page" ScreenreaderActivePageDescription="You are now on page" />
    @code {
        int ActivePage = 1;
        private void PageActionInteractive(int page)
        {
            ActivePage = page;
            StateHasChanged();
        }
    }
    <h3>20 pages - interactive</h3>
    <NldsPagination PreviousText="Vorige" NextText="Volgende" ActivePage="@ActivePage" NumberOfPages="20" PageAction="PageActionInteractive" />
</NldsForm>
<h2>DefinitonList</h2>
<h3>Standaard en horizontaal</h3>
<NldsDefinitionList>
    <NldsDefinitionListItem Title="Lorem ipsum dolor">
        <Description>... sit amet, consectetur adipiscing elit. Praesent id quam pretium, lobortis lectus ut, lobortis lorem. Quisque in mauris id ante lacinia ornare nec sed mi. Aenean efficitur sagittis neque eget ultricies. Curabitur vestibulum rutrum massa, nec sollicitudin dui eleifend ultrices. Duis commodo accumsan risus in congue. Curabitur sodales volutpat elit, ut maximus lorem posuere et. Curabitur molestie nec lorem a semper. Donec interdum dui non euismod tempus. Praesent eu maximus arcu. Sed sed auctor leo.</Description>
    </NldsDefinitionListItem>
    <NldsDefinitionListItem Title="Duis at arcu">
        <Description>... in ipsum rutrum porttitor id nec orci. Nam mollis vulputate diam, at finibus metus pharetra sed. Mauris in augue tellus. Nam hendrerit imperdiet mollis. Suspendisse porttitor, diam nec interdum euismod, mauris enim dignissim mauris, eget tincidunt mi metus eu purus. In dignissim leo at diam facilisis, id porttitor purus malesuada. Praesent quis dui ipsum. Phasellus consequat enim quis nunc sollicitudin, vel volutpat mi aliquet. Maecenas vel feugiat elit, venenatis consectetur dui. Curabitur pharetra nibh sit amet tortor fermentum luctus. Phasellus auctor elit at felis dapibus, eu suscipit metus aliquet. Proin sed sagittis justo. Aenean mollis, neque at luctus vulputate, ipsum augue lobortis eros, ac tempor turpis nisi a lorem. Integer non neque faucibus, consequat sapien vitae, tempus sapien. Cras turpis mauris, convallis sed interdum eu, pharetra ac sapien. In nulla nibh, sagittis ut turpis ac, feugiat cursus diam.</Description>
    </NldsDefinitionListItem>
    <NldsDefinitionListItem Title="Description with action">
        <Description>3 2 1 Aaaaand Action</Description>
        <Action><NldsDefinitionListAction LinkScreenReaderDescription="Beschrijving" Uri="http://google.com">Google!</NldsDefinitionListAction></Action>
    </NldsDefinitionListItem>
    <NldsDefinitionListItem ShowHorizontal="true" Title="Description with action 2">
        <Description>3 2 1 Aaaaand Action 2</Description>
        <Action><NldsDefinitionListAction LinkScreenReaderDescription="Beschrijving"><NldsIcon Icon="Icon.Info" /></NldsDefinitionListAction></Action>
    </NldsDefinitionListItem>
</NldsDefinitionList>
<h3>Met large titles</h3>
<NldsDefinitionList HasLargeTitles="true">
    <NldsDefinitionListItem Title="Description with action">
        <Description>3 2 1 Aaaaand Action</Description>
        <Action><NldsDefinitionListAction LinkScreenReaderDescription="Beschrijving" Uri="http://google.com">Google!</NldsDefinitionListAction></Action>
    </NldsDefinitionListItem>
    <NldsDefinitionListItem ShowHorizontal="true" Title="Description with action 2">
        <Description>3 2 1 Aaaaand Action 2</Description>
        <Action><NldsDefinitionListAction LinkScreenReaderDescription="Beschrijving"><NldsIcon Icon="Icon.Info" /></NldsDefinitionListAction></Action>
    </NldsDefinitionListItem>
</NldsDefinitionList>
<h2>Section</h2>
<NldsSection Title="Ti<u>t</u>le">
    sit amet, consectetur adipiscing elit. Praesent id quam pretium, lobortis lectus ut, lobortis lorem. Quisque in mauris id ante lacinia ornare nec sed mi. Aenean efficitur sagittis neque eget ultricies. Curabitur vestibulum rutrum massa, nec sollicitudin dui eleifend ultrices. Duis commodo accumsan risus in congue. Curabitur sodales volutpat elit, ut maximus lorem posuere et. Curabitur molestie nec lorem a semper. Donec interdum dui non euismod tempus. Praesent eu maximus arcu. Sed sed auctor leo.
</NldsSection>
<h2>Hint</h2>
<NldsHint Title="Dit is <u>de</u> titel">
    <p>sit amet, <em>consectetur adipiscing</em> elit. Praesent id quam pretium, lobortis lectus ut, lobortis lorem. Quisque in mauris id ante lacinia ornare nec sed mi. Aenean efficitur sagittis neque eget ultricies. Curabitur vestibulum rutrum massa, nec sollicitudin dui eleifend ultrices. Duis commodo accumsan risus in congue. Curabitur sodales volutpat elit, ut maximus lorem posuere et. Curabitur molestie nec lorem a semper. Donec interdum dui non euismod tempus. Praesent eu maximus arcu. Sed sed auctor leo.</p>
</NldsHint>
<h2>Image</h2>
<NldsImage Uri="https://nl-design-system.gitlab.io/nl-design-system/images/sample.jpg" Width="900" Alt="Studenten" />
<h2>Card</h2>
<h3>Normal</h3>
<NldsCardList>
    <NldsCard ImageUri="https://nl-design-system.gitlab.io/nl-design-system/images/img-1.png">Lees hier de nieuwste aansprakelijkheids&#8203;waarde&#8203;vaststellings&#8203;veranderingen</NldsCard>
    <NldsCard ImageUri="https://nl-design-system.gitlab.io/nl-design-system/images/img-2.png">Verzuimloket <u>niet</u> uitgefaseerd</NldsCard>
    <NldsCard ImageUri="https://nl-design-system.gitlab.io/nl-design-system/images/img-3.png">Opschonen vrijstellingen&#8203;register</NldsCard>
</NldsCardList>
<h3>Only 1 in the list (and Square enforced)</h3>
<NldsCardList>
    <NldsCard Square="true" ImageUri="https://nl-design-system.gitlab.io/nl-design-system/images/img-1.png">Lees hier de nieuwste aansprakelijkheids&#8203;waarde&#8203;vaststellings&#8203;veranderingen</NldsCard>
</NldsCardList>
<h3>small (web)</h3>
<NldsCardList Small="true">
    <NldsCard ImageUri="https://nl-design-system.gitlab.io/nl-design-system/images/img-1.png">Lees hier de nieuwste aansprakelijkheids&#8203;waarde&#8203;vaststellings&#8203;veranderingen</NldsCard>
    <NldsCard ImageUri="https://nl-design-system.gitlab.io/nl-design-system/images/img-2.png">Verzuimloket <u>niet</u> uitgefaseerd</NldsCard>
    <NldsCard ImageUri="https://nl-design-system.gitlab.io/nl-design-system/images/img-3.png">Opschonen vrijstellingen&#8203;register</NldsCard>
</NldsCardList>
<h3>Backlink</h3>
<NldsBackLink Uri="#" Title="Naar Primair onderwijs"><string>Primair</string> onderwijs</NldsBackLink>
@code {
    string[] Items = new string[]
    {
        "violet, #a90061",
        "roze, #f092cd",
        "rood, #d52b1e",
        "robijnrood, #ca005d",
        "paars, #42145f",
        "oranje, #e17000",
        "lichtblauw, #8fcae7",
        "hemelblauw, #007bc7",
        "donkerblauw, #01689b",
        "geel, #f9e11e",
        "donkergeel, #ffb612",
        "mintgroen, #76d2b6",
        "mosgroen, #767b00",
        "groen, #39870c",
        "donkergroen, #275937",
        "bruin, #94710a",
        "donkerbruin, #673327",
        "grijs-1, #f3f3f3",
        "grijs-2, #e6e6e6",
        "grijs-3, #cccccc",
        "grijs-4, #b4b4b4",
        "grijs-5, #999999",
        "grijs-6, #696969",
        "grijs-7, #535353"
                             };
    string SelectedComboboxValue = string.Empty;
}
<h2>Combobox</h2>
<NldsForm>
    <NldsCombobox Identifier="com" Items="@Items" @bind-Value="SelectedComboboxValue" Size="InputSize.ExtraLarge" ErrorText="Geen kleur geselecteerd">
        <Label><NldsFormLabel>Kleur</NldsFormLabel></Label>
        <Hint><NldsFormHint HintName="kleur">Voer een kleur of kleurcode in</NldsFormHint></Hint>
    </NldsCombobox>
</NldsForm>
<p>Geselecteerde Waarde: @SelectedComboboxValue</p>
<h2>Spinner</h2>
<NldsSpinner FullPage="true">
    <DisplayText>Zoals bijvoorbeeld deze tekst die nog geladen moet worden. Het element waar de <span lang="en-US">spinner</span> op verschijnt krijgt ook een lichtere <span lang="en-US">opacity</span>.</DisplayText>
    <ScreenReaderText>Aan het laden</ScreenReaderText>
</NldsSpinner>
<h3>Notifications</h3>
<NldsNotification Type="Notification.Info" TypeText="Ter <u>Info</u>rmatie" Title="Voor <u>de</u> veiligheid">
    Vanwege de veiligheid sturen we u het <u>wachtwoord</u> en tokengenerator in 2 aparte enveloppen.
</NldsNotification>
<NldsNotification Type="Notification.Warning" TypeText="LET OP" Title="Bevoegd gezag moet dit document ondertekenen">
    Zonder handtekening en kopie van het identiteitsbewijs van het bevoegd gezag nemen we de aanvraag niet in behandeling.
</NldsNotification>
<NldsNotification Type="Notification.Success" TypeText="GELUKT" Title="Aanvraag ontvangen">
    Wij hebben uw aanvraag ontvangen en nemen deze zo snel mogelijk in behandeling.
</NldsNotification>
<NldsNotification Type="Notification.Error" TypeText="STORING" Title="Er gaat iets niet helemaal lekker">
    De flux capacitor heeft de geest gegeven.
</NldsNotification>
<NldsNotification Type="Notification.Warning" TypeText="Bugs" Title="Eh, what's up doc?" @ref="@CloseDoc" />
<h3>With Close button</h3>
@code {
    NldsNotification CloseDoc;
    private void Close()
    {
        CloseDoc.Close();
    }
}
<button @onclick="Close">An external button to close the "Bugs" notification</button>
<NldsNotification Type="Notification.Error" TypeText="Boom" Title="ACME Dynamite" CloseButtonText="Sl<u>u</u>it" />
<h2>Tooltip</h2>
<NldsTooltip Tip="Dit is <u>de</u> Tip">Hover hierover; er zit een tip op</NldsTooltip>
<h3>Tooltip met Icon</h3>
<NldsTooltip UseIcon="true" Tip="Dit is <u>de</u> Tip op een Icon"></NldsTooltip>
<h2>ContentHeader</h2>
<NldsContentHeader Title="This is the title">
    <p>Test</p>
</NldsContentHeader>
<h2>Meta</h2>
<NldsMeta>13 november 2018</NldsMeta>
<NldsMeta>Grat, Senior tester/product owner testautomatisering</NldsMeta>
<h3>Meta stappen onder een kop</h3>
<NldsContentHeader Title="Contactgegevens instelling">
    <p>
        <NldsMeta IsInHeader="true" IsProgress="true">
            Stap 1 van 4 – Eerste opvang nieuwkomers VO
        </NldsMeta>
        <NldsMeta IsInHeader="true" IsProgress="true">
            Stap 2 van 4 – Tweede opvang nieuwkomers VO
        </NldsMeta>
    </p>
</NldsContentHeader>
<h2>Quote</h2>
<NldsQuote>
    <Quote>
        Praesent ullamcorper lacinia nisl, vel vulputate elit tempus tincidunt. Sed dictum ultrices finibus. Praesent at venenatis sapien. Nam sed quam pretium, dignissim sapien euismod, tempus urna. Maecenas mauris odio, malesuada sit amet lectus faucibus, ultrices ullamcorper enim.
    </Quote>
</NldsQuote>
<h3>Quote met afbeelding</h3>
<NldsQuote ImageUri="https://nl-design-system.gitlab.io/nl-design-system/images/ceasar.jpg" ImageDescription="Julius Caesar">
    <Quote>
        Praesent ullamcorper lacinia nisl, vel vulputate elit tempus tincidunt. Sed dictum ultrices finibus.
    </Quote>
    <MetaContent>
        <NldsMeta>– Julius Ceasar</NldsMeta>
        <br />
        <a href="#" title="Lees meer">Lees meer over lorum ipsum</a>
    </MetaContent>
</NldsQuote>
<h2>Files</h2>
<h3>List</h3>
<NldsFileList>
    <NldsFile IsPartOfList="true" DeleteText="Verwijder" FileName="c50bed25.jpg" FileInfo="JPG, 396.05 kB" />
    <NldsFile IsPartOfList="true" DeleteText="Verwijder" FileName="formulier.pdf" FileInfo="PDF, 1.05 mB" />
</NldsFileList>
<h3>Single File</h3>
<NldsFile FileName="c50bed25.jpg" FileInfo="JPG, 396.05 kB" />
<h2>Video</h2>
@code {
    SubtitleInformation subtitles = new SubtitleInformation
    {
        Label = "Nederlands",
        Language = "nl-NL",
        Uri = "https://nl-design-system.gitlab.io/nl-design-system/subtitles/video.vtt"
    };
} 
<NldsVideo Width="100%" Uri="https://nl-design-system.gitlab.io/nl-design-system/images/SampleVideo_1280x720_1mb.mp4" PosterUri="https://nl-design-system.gitlab.io/nl-design-system/images/SampleVideo_1280x720_1mb.png" Subtitles="@subtitles"></NldsVideo>